/* Reset */
@font-face {
    font-family: 'bahnscrift';
    src: url(../fontes/bahnscrift/BAHNSCHRIFT.TTF);
}
@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

*, *::after, *::before { box-sizing: border-box; }

body, h1, h2, h3, p, figure {
    padding: 0;
    margin: 0;
}
 html {
    font-size: 15px;
    font-family: 'bahnscrift';
}

/* Header */

body {
    overflow-x: hidden;
}

header
{
    width: 100%;
}


.alinhamento {
    display: flex;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.alinhamento h1
{
    font-family: 'Nova Round', cursive;
    color: #0016ff;
    font-weight: 400;
    font-size: 24px;
}

.line {
    height: 2px;
    background-color: black;
}

.line:nth-child(1) {
    width: 28px;
    margin-bottom: 8px;
}

.line:nth-child(2) {
    width: 16px;
    margin-bottom: 8px;
}

.line:nth-child(3) {
    width: 8px;
}


/* CTA */
#cta {
    background-color: #3244ff;
    width: 100%;
    border-radius: 0px 0px 30px 30px;
}

#cta img
{
    width: 100%;
}

#cta h1{
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    padding-top: 10px ;
    display: flex;
    font-size: 2rem;
}

.pp {
    color: white;
    font-family: bahnscrift;
    word-spacing: 10%;
    font-weight: lighter;
    opacity: 80%;
    padding-top: 10px;
}

.margin {
    padding: 40px 20px;

}

/* Cursos */

#courses img
{
    width: 100%;
}

.titulo{
    font-family: bahnscrift;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 30px 0px;
}

#courses {
    background-color: white;
    margin: 0px 16px;
}

#courses .pp
{
    color: black;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1rem;
    font-weight: 350;
    padding: 0;
}

#courses .titulo {
    color: #3244ff;
    text-align: center;
}

.developer
{
    font-family: bahnscrift;
    font-size: 2rem;
    text-align: center;
    margin: 18px 0;
    font-weight: 700;
    letter-spacing: 0.1em;
}

.link {
    text-decoration: none;
    color: #3244ff;
    font-family: bahnscrift;
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

.courses-container {
    max-width: 400px;
    padding: 18px 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #1f1f1f38;
    border-radius: 10px;
    text-align: center;
}

.courses-container .titulo {
    font-size: 1.333;
    text-align: center;
    word-wrap: break-word;
}

#star-course-container {
    overflow-x: hidden;
}

.slick-dots li {
    margin: 0 0;
}

/* Container de FAQ (Frequent Asked Question) */

#question-container {
    display: grid;
    place-items: center;
    padding: 16px 16px;
    text-align: center;
}

#question-container h2 {
    padding: 8px;
}

#question-container p {
    padding: 0 0 16px 0;
}

.explore {
    display: grid;
    place-items: center;
    font-family: 'Nova Round' cursive;
    padding: 32px 0 0 0;
    font-size: 1.2rem;
    color: #3244ff;
}

/* Footer */

footer {
    text-align: center;
}

footer ul {
    padding: 0;
}

footer a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 630px) {
    #cta {
        text-align: center;
    }
}